<section class="intro">
  <header>
    <h1>Aprende Blockchain</h1>
    <p>
      Construye tu propia Blockchain y Criptomoneda. ¡Descubre las ideas de ingeniería detrás de tecnologías como Bitcoin y Ethereum!
    </p>
    <p>
      Un curso creado por <a href="http://soyjavi.com">@soyjavi</a>
    </p>
    <ul class="actions">
      <li><a href="#intro" class="arrow scrolly"><span class="label">Next</span></a></li>
    </ul>
  </header>
  <div class="content">
    <span class="image fill" data-position="center">
      <img src="assets/images/main.jpg" alt="" />
    </span>
  </div>
</section>

<!-- Aptitudes -->
<section id="claves">
  <header>
    <h2>¿Qué aprenderás con este curso?</h2>
  </header>
  <div class="content">
    <p>
      Este curso te llevará a <strong>implementar tu propia Blockchain y una nueva criptomoneda</strong>, descubriendo las técnicas y asimilando los conceptos mientras los pones en práctica. Para los desarrolladores de software, la mejor manera de interiorizar cualquier tipo de tecnología es estudiarla profundamente a través de un proyecto.
    </p>
    <p>
      Tanto si ya has comenzado con esta tecnología disruptiva o si eres un <i>newbie</i> he diseñado un programa educativo que se adapta a cualquier nivel. De una u otra manera, tras el curso serás capaz de:
    </p>
    <ul class="feature-icons">
      <li class="icon solid fa-comments">Discutir la implementación de Blockchain y las criptomonedas</li>
      <li class="icon solid fa-graduation-cap">Comprender los principales conceptos como <i>Proof of Work</i>, minería, etc.</li>
      <li class="icon solid fa-pencil-ruler">Construir desde cero tu propia Blockchain y criptomoneda</li>
      <li class="icon solid fa-project-diagram">Construir una network P2P para utilizar tu criptomoneda</li>
    </ul>
  </div>
</section>

<!-- Intro -->
<section id="intro">
  <header>
    <h2>¿Por qué deberías aprender sobre Blockchain?</h2>
  </header>
  <div class="content">
    <p>
      Desde su introducción práctica en el 2009, la tecnología Blockchain ha alterado industrias enteras. La tecnología Blockchain ha sido ampliamente aceptada como un medio revolucionario para reducir costes, mejorar la eficiencia y mostrar transparencia en todas las transacciones. Se espera que <strong>el gasto mundial en tecnología Blockchain alcance los $11.7 mil millones en 2022</strong>. Por lo tanto, es vital que comiences a desarrollar tu conocimiento sobre esta tecnología. Explorar sus diversas aplicaciones como por ejemplo en ciberseguridad, los servicios gubernamentales, el entretenimiento y el sector financiero.
    </p>
    <p>
      Si todavía estás cementado en tu cubículo editando códigos Java o simplemente no has aprendido nada nuevo en los últimos años, probablemente estés viviendo en el pasado, donde cada vez hay menos empleos para ti. Las cosas han cambiado ahora. Da un paso adelante y camina con las tecnologías revolucionarias donde Blockchain es uno de los líderes. Sé uno de los primeros en aprender esta tecnología.
    </p>
    <p>
      Con este curso <strong>obtendrás las habilidades adecuadas para trabajar en el mundo de Blockchain</strong>. Adaptándote a esta ola de tendencias, podrás nadar en un mar de empleos y disfrutar del poder de esta tecnología revolucionaria.
    </p>
    <!-- <span class="image main"><img src="images/pic02.jpg" alt="" /></span> -->
  </div>
</section>

<!-- Course -->
<section id="temario">
  <header>
    <h2>Temario</h2>
  </header>
  <div class="content">
    <p>
      El curso está diseñado en bloques que presentan paso a paso los conceptos principales de Blockchain. Al finalizar el curso, tendrás en tu repositorio un proyecto demostrable basado en tecnología Blockchain. Este curso se compone de <strong>60 video-tutoriales muy fáciles de entender</strong> en los que aprenderás:

      <ul class="feature-icons">
        <li class="icon solid fa-pencil-ruler">Cómo construir tu propia Blockchain</li>
        <li class="icon solid fa-cogs">Minería, pool de transacciones...</li>
        <li class="icon solid fa-server">Cómo construir una API</li>
        <li class="icon solid fa-code">Ultimas técnicas de JavaScript</li>
      </ul>

      Utilizarás NodeJS para desarrollar este proyecto. Sin embargo, no te preocupes si no estás familiarizado con JavaScript. <strong>Aprende Blockchain</strong> está diseñado para explicarte cada línea. <strong>No sólo aprenderás Blockchain, sino que entenderás las mejores técnicas para programar con JavaScript</strong>. Tener experiencia en JavaScript puede darte alguna ventaja, pero no es un requisito absoluto.

      <video controls>
        <source src="https://cdn.glitch.com/3fb98bbe-be09-4d33-aca3-68872e049d2a%2F01-01%20introduccion.mp4?v=1567834334186" />
      </video>
    </p>

    <section>
      <header>
        <h3>Bloque I</h3>
        <p>En este bloque comenzarás a familiarizarte con la tecnología aprendiendo dos primeras clases: <code>Block</code> y <code>Blockchain</code></p>
      </header>
      <div class="content">
        <h4>1. Overview</h4>
        <ul>
          <li>1.1 Visión general</li>
          <li>1.2 ¿Qué es una Blockchain y dónde utilizarla?</li>
          <li>1.3 Lectura de <i>`The Bitcoin White Paper`</i></li>
          <!--
          <li>1.4 Blockchain en práctica: Criptomonedas y criptografía</li>
          <li>1.5 Blockchain en práctica: Minería y Bitcoin</li>
          -->
        </ul>

        <h4>2. Creando Block()</h4>
        <ul>
          <li>2.1 Setup</li>
          <li>2.2 Creando nuestra clase <code>Block()</code></li>
          <li>2.3 El bloque <i>Genesis</i></li>
          <li>2.4 Minando bloque</li>
          <li>2.5 La función <i>hash</i> <code>SHA256</code></li>
          <li>2.6 Test: <code>Block()</code></li>
        </ul>

        <h4>3. Creando Blockchain()</h4>
        <ul>
          <li>3.1 Creando nuestra clase <code>Blockchain()</code></li>
          <li>3.2 Test: <code>Blockchain()</code></li>
          <li>3.3 Validador de Blockchain</li>
          <li>3.4 Test: <code>validate()</code></li>
          <li>3.5 Sustituyendo nuestra Blockchain</li>
          <li>3.6 Test: <code>replace()</code></li>
        </ul>
      </div>
    </section>

    <section>
      <header>
        <h3>Bloque II</h3>
        <p>En este bloque desarrollarás la disponibilidad de tu Blockchain por medio de un servidor P2P.</p>
      </header>
      <div class="content">
        <h4>4. Creando nuestra App con Blockchain</h4>
        <ul>
          <li>4.1 Setup servicio HTTP</li>
          <li>4.2 Endpoint <code>/blocks</code></li>
          <li>4.3 Endpoint <code>/mine</code></li>
        </ul>

        <h4>5. Creando nuestra red Blockchain</h4>
        <ul>
          <li>5.1 Red <i>Peer to Peer</i></li>
          <li>5.2 Setup servicio P2P</li>
          <li>5.3 Conectando nodos a nuestra Blockchain</li>
          <li>5.4 <i>Broadcasting</i> entre nodos</li>
          <li>5.5 Sincronizando nuestra blockchain</li>
        </ul>
      </div>
    </section>

    <section>
      <header>
        <h3>Bloque III</h3>
        <p>En este bloque profundizarás en los <i>internals</i> de Blockchain descubriendo lo que es Proof of Work y la gestión de transacciones por medio de una Wallet.</p>
      </header>
      <div class="content">
        <h4>6. Proof of Work</h4>
        <ul>
          <li>6.1 PoW y el ataque del 51%</li>
          <li>6.2 PoW y <i>Nonce</i></li>
          <li>6.3 Test: <code>nonce</code></li>
          <li>6.4 Dificultad de bloque dinámica</li>
          <li>6.5 Test: <code>difficulty</code></li>
        </ul>

        <h4>7. Creando Wallet()</h4>
        <ul>
          <li>7.1 Principios de las criptomonedas</li>
          <li>7.2 Creando nuestra clase <code>Wallet</code></li>
          <li>7.3 Generando nuestras <i>keys</i></li>
          <li>7.4 Test: <code>Wallet</code></li>
        </ul>

        <h4>8. Creando Transaction()</h4>
        <ul>
          <li>8.1 Creando nuestra clase <code>Transaction</code></li>
          <li>8.2 Test: <code>Transaction</code></li>
          <li>8.3 Firmando transacciones</li>
          <li>8.4 Test: <code>sign()</code></li>
          <li>8.5 Verificando transacciones</li>
          <li>8.6 Test: <code>verify()</code></li>
          <li>8.7 Actualizando transacciones</li>
          <li>8.8 Test: <code>update()</code></li>
        </ul>
    </section>

    <section>
      <header>
        <h3>Bloque IV</h3>
        <p>En este bloque descubrirás lo que significa el <i>minado</i> de una criptomoneda y sus implicaciones en cuanto a seguridad y disponibilidad.</p>
      </header>

      <div class="content">
        <h4>9. Creando <i>MemoryPool</i></h4>
        <ul>
          <li>9.1 Introduccion a <i>MemoryPool</i></li>
          <li>9.2 Añadiendo una transacción a <i>MemoryPool</i></li>
          <li>9.3 Test: <code>MemoryPool</code></li>
          <li>9.4 Creando transacciones con <code>Wallet</code></li>
          <li>9.5 Test: <code>createTransaction()</code></li>
          <li>9.6 Endpoint <code>/transactions</code></li>
          <li>9.7 Endpoint <code>/transaction</code></li>
          <li>9.8 Broadcast de transacciones a la red P2P</li>
        </ul>

        <h4>10. Minando transacciones</h4>
        <ul>
          <li>10.1 Creando nuestra clase <code>Miner</code></li>
          <li>10.2 <i>Reward</i> en transacciones</li>
          <li>10.3 Test: <code>reward()</code></li>
          <li>10.4 Minando transacciones no confirmadas</li>
          <li>10.5 Borrado de MemoryPool</li>
          <li>10.6 Broadcast de borrado de MemoryPool</li>
          <li>10.7 Endpoint <code>/mine/transactions</code></li>
          <li>10.8 <i>Nuance</i> en el balance de Wallet</li>
          <li>10.9 Calculando el balance de una Wallet</li>
          <li>10.10 Test: <code>calculateBalance()</code></li>
        </ul>
      </div>
    </section>

    <section>
      <header>
        <h3>Bloque V</h3>
        <p>En este bloque haremos una retrospectiva de todo lo realizado y pensaremos en los posibles siguientes pasos para tu criptomoneda.</p>
      </header>
      <div class="content">
        <h4>11. Tu criptomoneda</h4>
        <ul>
          <li>11.1 Tu criptomoneda en acción</li>
          <li>11.2 Siguientes pasos...</li>
        </ul>
      </div>
    </section>

  </div>
</section>

{{author}}

<!-- about -->
<section id="planes">
  <header>
    <h2>¿Cuanto te va a costar?</h2>
  </header>
  <div class="content plans">
    <div class="plan box">
      <div>
        <h2>UDEMY</h2>
        <small>No encontraras un curso con todo este contenido y a un precio tan competitivo. Reservalo ahora y conviértete en un Blockchain Developer.</small>
      </div>
      <ul>
        <li>✔ Más de 60 videos</li>
        <li>✔ Ejercicios 100% documentados</li>
      </ul>

      <h2 class="lineThrough">{{amountFIAT}}<span>€</span></h2>
      <div class="row">
        <h2 class="">{{amountFIATDiscount}}<span>€</span></h2>
        <strong>oferta lanzamiento</strong>
      </div>
      <a class="button" href="https://www.udemy.com/course/aprende-blockchain/?couponCode=OFERTA-LANZAMIENTO">Comprar ahora</a>
    </div>

    <div class="plan box pro">
      <div>
        <div class="row"><h2>CRIPTO</h2><strong>{{reservationsBTC}} reservas</strong></div>
        <small>Al realizar el pago con Bitcoin, ademas de aprovecharte de más de un 20% de descuento tendrás acceso a extras exclusivos.</small>
      </div>
      <ul>
        <li>✔ Más de 60 videos</li>
        <li>✔ Ejercicios 100% documentados</li>
        <li>✔ <strong>GRATIS!</strong> 1h soporte <i>videocall</i></li>
        <li>✔ <strong>GRATIS!</strong> Acceso a comunidad privada</li>
      </ul>
      <h2>{{amountBTC}}<span>BTC</span></h2>
      <a class="button primary" class="button" href="/pago-bitcoin?ref={{ref}}">Comprar ahora</a>
    </div>
  </div>
</section>

<!--

<section id="testimonios">
  <header>
    <h2>¿qué opinan los estudiantes?</h2>
  </header>
  <div class="content testimonials">

    <div class="quote">
      <div class="box">
        <p>
          Me ha gustado mucho, y los ejercicios por capitulo me han ayudando a seguir el curso mas facilmente. Muy recomendable!!! Ahora me gustaria hacer algunas mejoras en mi criptomoneda. Proof Of Work mola mucho!!!
        </p>
        <h3>Marcos Alvarez</h3>
        <small>position</small>
      </div>
      <img src="assets/images/avatar-isaura.jpg" alt="Firstname Lastname" />
    </div>

    <div class="quote">
      <img src="" alt="Firstname Lastname" />
      <div class="box">
        <p>
          Muy contento con este curso! En apenas 6h he podido entender los conceptos de Blockchain. Y ahora tengo mi propia Criptomoneda! Justo he aprendido lo que esperaba, y lo que me estan pidiendo en la oficina. Sinceramente, felicitaciones al autor de este curso y espero que haga mas cursos como este. Aitor
        </p>
        <h3>Aitor Gonzalez</h3>
        <small>position</small>
      </div>
    </div>
  </div>
</section>
-->
