<section id="tutor">
  <header>
    <h2>¿Quién va a ensenarte?</h2>
  </header>
  <div class="content">
    <p>
    Soy Javi, llevo mas de 20 años como profesional en el mundo del software y el desarrollo de productos en Internet. Creo en la enorme responsabilidad de transmitir conocimiento y es por eso que tengo una relación muy estrecha con la educación. He sido profesor tanto en la universidad como en cursos y <i>bootcamps</i> especializados, ademas de haber escrito 2 libros técnicos.
    </p>
    <p>
    Mi relación con el mundo Blockchain comenzó allá por el 2013, principalmente como usuario y minando Bitcoin. Desde el 2016 participo activamente como <i>Blockchain Developer</i> en proyectos descentralizados alrededor del mundo. Ahora me encuentro en la posición de poder transmitirte todo el conocimiento que he adquirido durante estos últimos años sobre este apasionante mundo.
    </p>
    <p>
    ...comenzamos?
    </p>
    <div class="author">
      <img src="http://soyjavi.com/assets/images/soyjavi.jpg" alt="Javi Jimenez" />
      <div>
        <span>signature</span>
        <small>Javi Jimenez</small>
      </div>
    </div>
  </div>
  <footer>
    <ul class="items">
      <li>
        <h3>Email</h3>
        <a href="mailto:apprendeblockchain@soyjavi.com">aprendeblockchain@soyjavi.com</a>
      </li>
      <li>
        <h3>Site</h3>
        <a href="http://soyjavi.com">soyjavi.com</a>
      </li>

      <li>
        <h3>Social</h3>
        <ul class="icons">
          <li><a href="https://twitter.com/soyjavi" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/soyjavi" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </li>
    </ul>
  </footer>
</section>
