<section id="tutor">
  <header>
    <h2>¿Quién va a ensenarte?</h2>
  </header>
  <div class="content">
    <div class="gallery">
      <a href="#autor">
        <p>
        Soy Javi, tu futuro profesor, llevo mas de 20 anhos dedicados al mundo de la programacion y el desarrollo de productos en internet. He tenido mi propia startup (2011), he sido profesor de universidad (2013/2015), y hasta he escrito 2 libros (CoffeeScript y React).
        </p>
        <p>
        Mi relacion con el mundo blockchain comenzo en el 2013, principalmente como usuario... pero desde el 2016 participo activamente como desarrollador en proyectos descentralizados. Ahora me encuentro
        </p>
      </a>
      <a href="#autor"><img src="assets/images/author.jpg" alt="" /></a>
    </div>
  </div>
  <footer>
    <ul class="items">
      <li>
        <h3>Email</h3>
        <a href="mailto:apprendeblockchain@soyjavi.com">aprendeblockchain@soyjavi.com</a>
      </li>
      <li>
        <h3>Social</h3>
        <ul class="icons">
          <li><a href="https://twitter.com/soyjavi" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/soyjavi" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </li>
    </ul>
  </footer>
</section>
